@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
.coin-image, .bank-image, .cash-image, .card-image, .income-text h1, .income-text h3{
    position: absolute;
    animation-name: blast-up;
    animation-duration: 2s;
    opacity: 1;
}

.main-section{
    height: 100vh;
}

.control-text{
    position: absolute;
    top: 65%;
    width: 40%;
    left: 17%;
    
    background-color: #2a2a2a88;
    padding: 2rem;
    animation-iteration-count: initial;
    animation-name: move-left;
    animation-duration: 4s;
    /* animation-play-state: paused; */
    animation-timing-function: cubic-bezier(0.42, 0, 1.0, 1.0);
}

.coin-image{
    top: 25%;
    left: 25%;
    /* background-color: aliceblue; */
    /* animation-delay: 1s; */
    
}

.bank-image{
    top: 13%;
    left: 50%;
    /* background-color: aliceblue; */
}

.cash-image{
    top: 60%;
    left: 50%;
    z-index: 2;
    /* background-color: aliceblue; */
}

.card-image{
    top: 30%;
    left: 22%;
    /* background-color: aliceblue; */
}

.income-text h1{
    color: #94FD95;
    font-size: 2.1rem;
    text-align: right ;
    top: 15%;
    left: 70%;
}

.income-text h3{
    color: white;
    text-align: right ;
    top: 20%;
    left: 70%;
}

.ftr h1, .contact-form h1{
    font-size: 2.3rem;
}

section.ftr{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-height: 50vh;
    gap: 2rem;
    padding: 2rem;
}

section.contact-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
    padding: 2rem;
}

.ftr-card{
    width: 15%;
    /* height: 100%; */
    height: 150px;
    padding: 2rem;
    border-radius: 12px;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
    background-color: white;
    gap: 2rem;
    text-align: center;
    transition: all ease-in-out 300ms;
}

input, textarea{
    display: block;
    width: 200px;
    background-color: #0B0A0A13;
    border: 1px solid #fffbfb;
    padding: .5rem;
    border-radius: 6px;
    font-size: 1rem;
    color: white;
}

input:focus, textarea:focus{
    outline: none;
}

.ftr-card:hover{
    transform: scale(1.1);
}

.ftr-card h3, .ftr-card div{
    font-family: 'Inter', sans-serif;
    
    color: black;
}

.ftr-arena{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.input-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    gap: 2rem;
}

.submit {
    width: 100%;
}

.submit button{
    background-color: #FF7C74;
    width: 100%;
    padding: .4rem .4rem;
    border: none;
    font-size: 1rem;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    transition: all ease-in-out 300ms;
}

.submit button:hover{
    background-color: #f83c32;
}

form{
    padding: 4rem 4rem;
    border-radius: 12px;
    background-color: #88888821;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #FF7C74;
    gap: 2rem;
}

label{
    color: white;
    display: block;
    margin-bottom: .3rem;
    font-size: 1.1rem;
}

.textarea{
    display: none;
}


@keyframes blast-up {
    0% {
        transform: scale(0);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}

@keyframes move-left {
    from {
        left: -800px;
    }
    to{
        left: 17%;

    }
   
}

@media screen and (max-width: 720px) {
    .income-text h1, .income-text h3{
        display: none;
    }
    .coin-image img, .bank-image img, .cash-image img{
        width: 150px;
    }

    .bank-image{
        top: 25%;
    }

    .coin-image{
        top: 30%;
        left: 0%;
    }
    .card-image{
        top: 35%;
        left: 8%;
    }

    .cash-image{
        top: 45%;
    }

    
    .textarea-container{
        display: none;
    }


    .control-text{
        top: 45%;
        font-size: .5rem;
        padding: 1rem;
    }
    .card-image img{
        width: 300px;
    }
    .control-desc{
        display: none;
    }
    .main-section{
        height: 50vh;
    }

    .ftr-arena{
        width: 100%;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
        gap: 2rem;
    }

    .textarea{
        display: block;
    }
    
    .ftr-card{
        width: 50%;
        gap: 2rem;
        height: fit-content;
    }
}