
.login-title{
    color: #FF7C74;
}

.login-screen{
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

label{
    color: white;
    display: block;
    margin-bottom: .3rem;
    font-size: 1.1rem;
}


input{
    display: block;
    width: 200px;
    background-color: #0B0A0A13;
    border: 1px solid #fffbfb;
    padding: .5rem;
    border-radius: 6px;
    font-size: 1rem;
    color: white;
}

input:focus{
    outline: none;
}

.login-form{
    padding: 4rem 4rem;
    border-radius: 12px;
    background-color: #88888821;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #FF7C74;
    gap: 2rem;
}

.login-section{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

